# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/

# Docker
**/obj/Docker/

# OS
.DS_Store
Thumbs.db
